/* ---------- specification ---------- */

@font-face {
    src: url('../assets/fonts/fontello.woff');
    font-family: 'fontello';
  }
  
  
  @font-face {
    src: url('../fonts/Lato-Regular.ttf');
    font-family: 'lato-r';
  }
  
  
  @font-face {
    src: url('../fonts/Lato-Light.ttf');
    font-family: 'lato-l';
  }
  
  
  @font-face {
    src: url('../fonts/Lato-Bold.ttf');
    font-family: 'lato-b';
  }
  
  
  html {
    font-size: 10px;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* -------------- header --------------- */
  
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
  }
  
  .logo {
    float: left;
  }
  
  .navigation {
    float: right;
  }
  
  .menu__input {
    display: inline-block;
    font-size: 1.35rem;
    &:hover {
      background-color: #ffbb42;
      border-radius: 3px;
      color: #fff;
    }
  }
  
  .menu__link {
    display: block;
    text-decoration: none;
    color: #868686;
    padding: 16px 20px;
    font-family: 'lato-r';
  }
  
  .menu__input:hover .menu__link {
    color: #fff;
  }
  
  /* --------------- section name ----------------- */
  
  .section__name {
    padding-bottom: 40px;
  }
  
  .section__name--white {
    color: #fff;
  }
  
  .section__name--black {
    color: #394b50;
  }
  
  .section__title {
    text-align: center;
    font-size: 3.5rem;
  }
  
  .section__paragraph {
    padding-top: 15px;
    font-size: 1.6rem;
    text-align: center;
  }
  
  /* ---------------- boost ----------------- */
  
  .main {
    display: flex;
    flex-direction: column;
  }
  
  .boost {
    background-color: #709dca;
    padding-top: 110px;
    padding-bottom: 345px;
    position: relative;
    z-index: 1;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .form__box {
    margin-right: 2%;
    width: 24%;
    display: inline-block;
    max-width: 280px;
    background-color: #fff;
    padding: 13px 0;
    border-radius: 3px;
  }
  
  .form__label {
    font-family: 'fontello';
    font-size: 1.6rem;
    padding: 0 15px;
  }
  
  .form__input {
    outline: none;
    border: none;
    width: 80%;
  }
  
  .form__button {
    max-width: 210px;
    color: #fff;
    padding: 13px 40px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #ffbb42;
  }
  
  .boost__image {
    max-width: 100%;
    position: absolute;
    bottom: -65px;
    left: 25%;
    right: 25%;
    z-index: 5;
  }
  
  /* ---------------- services ----------------- */
  
  .services {
    background-color: #fff;
    padding-top: 210px;
  }
  
  .section__title {
    font-size: 3rem;
  }
  
  .section__paragraph {
    font-size: 1.6rem;
  }
  
  .font-avesome {
    padding-top: 100px;
  }
  
  .font-avesome__icon {
    float: left;
    padding-right: 40px;
  }
  
  .font-avesome__text {
    float: left;
  }
  
  .text__title {
    font-size: 1.6rem;
    color: #394b50;
    padding-bottom: 25px;
  }
  
  .text__description {
    font-size: 1.3rem;
    color: #7b7b7b;
  }
  
  .fully__icon {
    float: right;
    padding-right: 40px;
  }
  
  .fully__text {
    float: right;
  }
  
  .working {
    padding-top: 130px;
  }
  
  .working__icon {
    float: left;
    padding-right: 23px;
  }
  
  .working__text {
    float: left;
  }
  
  .retina__icon {
    float: right;
    padding-right: 40px;
  }
  
  .retina__text {
    float: right;
  }
  
  .code {
    padding-top: 130px;
  }
  
  .code__icon {
    float: left;
    padding-right: 40px;
  }
  
  .code__text {
    float: left;
  }
  
  .trendy {
    padding-bottom: 180px;
  }
  
  .trendy__icon {
    float: right;
    padding-right: 40px;
  }
  
  .trendy__text {
    float: right;
  }
  
  /*---------- ABOUT US----------*/
  
  .about__img {
    float: left;
    width: 50%;
    height: 623px;
    background-image: url("../assets//img/table.png");
    overflow: hidden;
  }
  
  .about__inform {
    height: 623px;
    padding-top: 170px;
    background: #ffbb42;
    width: 50%;
  }
  
  .text__about {
    font-size: 3rem;
    color: #fff;
    padding-right: 350px;
    padding-bottom: 30px;
  }
  
  .text__specification {
    font-size: 1.3rem;
    color: #fff;
  }
  
  .about__inform {
    float: right;
  }
  
  .inform__text {
    padding-left: 80px;
  }
  
  .inform__button {
    padding-left: 80px;
    padding-top: 40px;
  }
  
  .more {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    padding: 18px 30px;
    border: 1px solid #e7ad48;
  }
  
  /*-------------price---------*/
  
  .price--bg {
    background: #e7edf3;
  }
  
  .price-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .choos {
    width: 100%;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 80px;
  }
  
  .choos__title {
    font-size: 3rem;
    color: #394b50;
  }
  
  .choos__info {
    color: #75888d;
    font-size: 1.8rem;
  }
  
  .price__basic, .price__premium, .price__gold {
    width: 33.3%;
    background: #fff;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 195px;
  }
  
  .price__basic:hover, .price__premium:hover, .price__gold:hover {
    background: #709dca;
  }
  
  .basic__title, .premium__title, .gold__title {
    font-size: 2.5rem;
    color: #818b95;
    padding-top: 55px;
    padding-bottom: 40px;
  }
  
  .price__price {
    font-size: 6rem;
    color: #ffbb42;
  }
  
  .price_time {
    font-size: 2rem;
    color: #818b95;
    padding-bottom: 35px;
  }
  
  .price__plus {
    font-size: 1.35rem;
    color: #b5bbc1;
    padding: 15px 0;
    border-top: 1px solid #e2e9f0;
  }
  
  .plus {
    padding-bottom: 40px;
  }
  
  .price__bott {
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    background: #ffbb42;
    padding: 16px 20px;
  }
  
  .price__number:hover {
    .price__title, .price__price, .price_time {
      color: #fff;
    }
    .price__plus {
      color: #c2e1ff;
    }
    transform: scale(1.1);
    z-index: 5;
  }
  
  /*-------------how it works------------*/
  
  .works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .works__main {
    padding-top: 160px;
    padding-bottom: 110px;
    width: 100%;
  }
  
  .works__title {
    font-size: 3rem;
    color: #394b50;
  }
  
  .works__info {
    font-size: 1.8rem;
    color: #394b50;
  }
  
  .step__number {
    width: 25%;
  }
  
  .step__title {
    padding-top: 100px;
    font-size: 2rem;
    color: #394b50;
    padding-bottom: 30px;
  }
  
  .step__txt {
    font-size: 1.3rem;
    color: #7b7b7b;
    padding-bottom: 95px;
  }
  
  .start {
    margin: 0 auto;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    background: #ffbb42;
    padding: 18px 28px;
    border-radius: 3px;
    margin-bottom: 150px;
  }
  
  /*------------happy client----------*/
  
  .clients {
    background: #ffc155;
  }
  
  .happy__clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .clients__main {
    width: 100%;
  }
  
  .clients__title {
    font-size: 3rem;
    color: #fff;
    padding-top: 140px;
  }
  
  .clients__info {
    font-size: 1.6rem;
    color: #fff;
    padding-bottom: 60px;
  }
  
  .clients__michle {
    width: 48%;
    background: #fff;
    margin-right: 15px;
    margin-bottom: 25px;
  }
  
  .clients__elizabath {
    width: 48%;
    background: #fff;
    margin-left: 15px;
    margin-bottom: 25px;
  }
  
  .clients__arter {
    width: 48%;
    background: #fff;
    margin-right: 15px;
    margin-bottom: 165px;
  }
  
  .clients__cristafr {
    width: 48%;
    background: #fff;
    margin-left: 15px;
    margin-bottom: 165px;
  }
  
  .clients__foto {
    float: left;
    margin: 45px 15px 0 30px;
  }
  
  .michle__info, .elizabath__info, .arter__info, .cristafr__info {
    font-size: 1.3rem;
    margin: 45px 50px 25px 0;
    float: left;
    text-align: left;
  }
  
  .michle__name, .elizabath__name, .arter__name, .cristafr__name {
    font-size: 1.4rem;
    float: left;
    margin-bottom: 55px;
  }
  
  /*---------NEWSLETTER-----------*/
  
  .letters__main {
    width: 100%;
    text-align: center;
  }
  
  .letters__title {
    padding-top: 155px;
    font-size: 3rem;
  }
  
  .letters__info {
    font-size: 1.6rem;
    padding-bottom: 55px;
  }
  
  .letters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 55px;
  }
  
  .letters__box-one {
    margin-left: 120px;
    width: 33.3%;
    display: inline-block;
    max-width: 310px;
    background-color: #fff;
    padding: 13px 0;
    border-radius: 3px;
    border: solid 1px #cbcbcb;
  }
  
  .letters__box-two {
    margin: 0 15px;
    width: 33.3%;
    display: inline-block;
    max-width: 390px;
    background-color: #fff;
    padding: 13px 0;
    border-radius: 3px;
    border: solid 1px #cbcbcb;
  }
  
  .letters__label {
    font-family: 'fontello';
    font-size: 1.6rem;
    padding: 0 15px;
  }
  
  .letters__input {
    outline: none;
    border: none;
    width: 80%;
  }
  
  .letters__button {
    max-width: 220px;
    color: #fff;
    padding: 13px 40px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #ffbb42;
  }
  
  .map {
    background-image: url("../assets//img/Map.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
  }
  
  .address {
    text-align: center;
    background-color: #394b50;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 40px;
  }
  
  .address__title {
    font-family: 'lato-bold';
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 23px;
    text-transform: uppercase;
  }
  
  .address__street, .address__section, .address__index, .address__phone {
    font-family: 'opensans-regular';
    font-size: 1.3rem;
    margin-bottom: 17px;
    color: #aeb7ba;
  }
  
  .address__email {
    font-family: 'opensans-regular';
    font-size: 1.3rem;
    color: #ffbb42;
  }
  
  .address__arrow {
    width: 0;
    border: 10px solid transparent;
    border-top: 15px solid #394b50;
    margin: 0 auto;
    position: relative;
    bottom: 2px;
  }
  
  .address__logo {
    display: block;
    margin: 25px auto;
  }
  
  /*---------FOTTER------------*/
  
  .footer {
    margin-top: 68px;
  }
  
  .footer__nav {
    text-align: center;
  }
  
  .footer__menu {
    padding: 0;
    margin-bottom: 30px;
  }
  
  .footer__menu-input {
    display: inline-block;
  }
  
  .footer__menu-item {
    color: #394b50;
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    box-sizing: border-box;
    text-align: center;
    border-radius: 2px;
    padding: 12px 20px;
    text-transform: uppercase;
    &:hover {
      color: #ffbb42;
    }
  }
  
  .footer__phone {
    text-align: center;
    margin-bottom: 23px;
  }
  
  .footer__icon-number {
    font-size: 2.052rem;
    font-family: 'fontello';
    color: #394b50;
    padding-right: 8px;
    display: inline-block;
  }
  
  .footer__phone-number {
    font-family: 'lato-regular';
    font-size: 2.252rem;
    color: #394b50;
    display: inline-block;
  }
  
  .footer__social {
    text-align: center;
    margin-bottom: 53px;
  }
  
  .footer__social-input {
    margin: 0 5px;
    font-family: 'fontello';
    text-decoration: none;
    font-size: 1.831rem;
    color: #709dca;
    &:hover {
      color: #ffc155;
    }
  }
  
  .footer__contents {
    background-color: #709dca;
    text-align: center;
    font-family: 'opensans-regular';
    font-size: 1.3rem;
    color: #fff;
    padding: 20px 0 18px 0;
  }